.weather {
  text-align: center;
}

.header h4 {
  padding-block: 1.5rem 0.5rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.05rem;
}

.current-weather {
  width: 600px;
  border-radius: 6px;
  color: #fff;
  background-color: #333;
  margin: 20px auto;
}

.weather-content,
.bottom-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

.weather-content {
  border-bottom: 0.1rem solid #fff;
}

.weather-icon {
  height: 7rem;
  width: auto;
}

.temperature {
  font-size: 3rem;
}

.detail-column {
  padding-block-start: 1rem;
}
